@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

// Breakpoints

$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;
$break-xxl: 1400px;

// Colors

$limeGreen: hsl(163, 72%, 41%);
$brightRed: hsl(356, 69%, 56%);

$facebook: hsl(208, 92%, 53%);
$twitter: hsl(203, 89%, 53%);
$instagram: linear-gradient(hsl(37, 97%, 70%), hsl(329, 70%, 58%));
$youtube: hsl(348, 97%, 39%);

$darkTheme: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));
$lightTheme: hsl(230, 22%, 74%);

// Colors (Dark Theme)
$veryDarkBlue: hsl(230, 17%, 14%); // Background
$veryDarkBlueTopBg: hsl(232, 19%, 15%); // Top BG Pattern
$darkDesaturatedBlue: hsl(228, 28%, 20%); // Card BG
$desaturatedBlue: hsl(228, 34%, 66%); // Text
$white: hsl(0, 0%, 100%); // Text

// Colors (Light Theme)
$veryPaleBlue: hsl(225, 100%, 98%); // Top BG Pattern
$lightGrayishBlue: hsl(227, 47%, 96%); // Card BG
$darkGrayishBlue: hsl(228, 12%, 44%); // Text

$fontsize: 14px;
$inter: 'Inter', sans-serif;
$bold: 700;